
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    transition: all 1s;
  }
  img:hover{
    transition: scale(1.1)
  }
h1{
  text-align: center;
}
ul {
  
  margin: 0;
  padding: 0;
    overflow: hidden;
  list-style-type: none;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;

}
section{
color: white;
background-image: url(https://wallpaperaccess.com/full/240639.jpg);
}

}
footer{
  float: center
}